
#product_button {
    font-family: "DejaVu Sans";
    border-style: groove;
    font: 10pt;
    color: rgb(102, 102, 102);
    background-color : white;
    height: 60px;
    width : 130px;
    border-width: 0px;
    border-radius: 10px;
    text-align: right;
}

#product_button::hover {
    background-color: rgb(255, 230, 160);
}

#product_button::pressed {
    background-color: rgb(246, 232, 192);
}

#label_title {
    font : 11pt;
    min-height : 32px;
    width: 120px;
    color: rgb(102, 102, 102);
}

#label_desc {
    font : 10pt;
    height : 30px;
    width: 110px;
    color: rgb(152, 152, 152);
}

#label_icon {
    height : 35px;
    width: 35px;
}

#category_button {
    font-family: "DejaVu Sans";
    border-style: groove;
    font: 10pt;
    color: rgb(102, 102, 102);
    background-color : white;
    height: 80px;
    width : 130px;
    border-width: 0px;
    border-radius: 10px;
}

#category_button::hover {
    background-color: rgb(220, 220, 220);
}

#category_button::pressed {
    background-color: rgb(205, 200, 200);
}

#toolbar_button {
    font-family: "DejaVu Sans";
    border-style: groove;
    font: 9pt;
    background-color : white;
    height: 55px;
    width : 130px;
    border-width: 0px;
}

#toolbar_button::hover {
    background-color: rgb(225, 240, 245);
}

#toolbar_button::pressed {
    background-color: rgb(204, 227, 235);
}
